* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

:root {
  background-image: url(/src/assets/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: saturation;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}